/* - - - - - - - - - - - - - - - - - - - - -
 Title :
 Author :
 URL : http://
 Last Updated :
- - - - - - - - - - - - - - - - - - - - - */
@import url('https://fonts.googleapis.com/css?family=Heebo:800');
body {
      font-family: 'Heebo', sans-serif;
}
html {
    background-image: none;
    background-color: #F6F9FC;
}

form.wufoo {
    margin: 0px auto !important;
    padding: 12% !important;
    position: relative !important;
    background-color: #fff !important;
}
.wufoo li {
   margin-top: 15px !important;
}
.wufoo input.text, .wufoo textarea.textarea {
    background-color: #ffffff;
    border-radius: 4px;
    height: 50px;
    font-size: 16px;
    color: #626d79;
    font-family: 'Heebo', sans-serif;
    box-shadow: none !important;
    outline: none !important;
    border: 1px solid #ececec !important;
    padding-left: 20px;
}
select {
    background-color: #ffffff;
    border-radius: 4px;
    height: 55px;
    font-size: 16px;
    color: #626d79;
    font-family: 'Heebo', sans-serif;
    box-shadow: none !important;
    outline: none !important;
    border: 1px solid #ececec !important;
    padding-left: 20px;
}
/* .wufoo input.text:focus, .wufoo textarea.textarea:focus, .wufoo input.file:focus {
   border: 0px;
   border-bottom: 2px solid #26A6A7 !important;
   outline: 0px !important;
    outline-color: transparent !important;
   color: #333 !important;
  font-size: 16px !important;
} */

input.text, input.search, textarea.textarea {
   background: none !important;
}
.wufoo li.focused {
    background-color: transparent !important;
}

form li.focused {
    background-color: transparent !important;
}

.wufoo label.desc {
    font-size: 14px;
    text-transform: capitalize;
    color: #d2d2d2 !important;
    font-family: 'Heebo', sans-serif;
    position: absolute;
    top: -6px;
    /* width: 25%; */
    left: 14px;
    width: auto;
    padding: 0 10px;
    background: #ffffff;
}
.wufoo legend.desc{
 font-size: 14px;
    text-transform: capitalize;
    color: #d2d2d2 !important;
    font-family: 'Heebo', sans-serif;
    width: auto;
    padding: 0 10px;
    background: #ffffff;
 left:14px;

}
div label, span.symbol {
 color: #d2d2d2 !important;
}
.wufoo li.focused label.desc, .wufoo li.focused div label {
    color: #d2d2d2 !important;
}
.wufoo input.btTxt {
    width: 100%;
    height: 40px;
    background-color: #26A6A7;
    border: 0px;
    color: #fff;
    border-radius: 10px;
        font-family: 'Heebo', sans-serif;
}
.wufoo input.btTxt:hover {
  background-color: #069999 !important;
}
.wufoo li.focused label.desc, .wufoo li.focused div label {
    color: #d2d2d2 !important;
}
li#fo6li10 {
    display: table-cell;
    padding-top: 20px !important;
    width: 35% !important;

}
.wufoo .info h2 {
    font-size: 160%;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    color: #d2d2d2 !important;
      font-family: 'Heebo', sans-serif;
}
.wufoo .info, .wufoo .paging-context {
    border-bottom: 2px dashed #d2d2d2 !important;
    width: 50%;
    line-height: 11px;
    margin: 0 auto;
}
label#title126 {
    text-transform: capitalize;
    color: #d2d2d2 !important;
    font-family: 'Heebo', sans-serif;
    position: absolute;
    top: -16px !important;
    left: 14px;
    width: auto;
    padding: 0 10px;
    background: #ffffff;
}
