/* - - - - - - - - - - - - - - - - - - - - -
 Title :
 Author :
 URL : http://
 Last Updated :
- - - - - - - - - - - - - - - - - - - - - */
body {
      font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
html {
    background-image: none;
    background-color: #F6F9FC;
}

form.wufoo {
    margin: 0px auto !important;
    padding: 12% !important;
    position: relative !important;
    background-color: #fff !important;
}
.wufoo li {
   margin-top: 15px !important;
}
.wufoo input.text, .wufoo textarea.textarea {
    background-color: #ffffff;
    border-radius: 4px;
    height: 50px;
    font-size: 16px;
    color: #626d79;
    font-family: 'ProximaNova-Regular';
    box-shadow: none !important;
    outline: none !important;
    border: 1px solid #ececec !important;
    padding-left: 20px;
}
/* .wufoo input.text:focus, .wufoo textarea.textarea:focus, .wufoo input.file:focus {
   border: 0px;
   border-bottom: 2px solid #26A6A7 !important;
   outline: 0px !important;
    outline-color: transparent !important;
   color: #333 !important;
  font-size: 16px !important;
} */

input.text, input.search, textarea.textarea {
   background: none !important;
}
.wufoo li.focused {
    background-color: transparent !important;
}

form li.focused {
    background-color: transparent !important;
}

.wufoo label.desc, .wufoo legend.desc {
    font-size: 14px;
    text-transform: capitalize;
    color: #d2d2d2;
    font-family: 'ProximaNova-Bold';
    position: absolute;
    top: -10px;
    left: 10px;
    padding: 0 10px;
    background: #ffffff;
}
div label, span.symbol {
 color: #B79E9E !important;
}
.wufoo li.focused label.desc, .wufoo li.focused div label {
    color: #B79E9E !important;
}
.wufoo input.btTxt {
    width: 100%;
    height: 40px;
    background-color: #26A6A7;
    border: 0px;
    color: #fff;
    border-radius: 10px;
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
.wufoo input.btTxt:hover {
  background-color: #069999 !important;
}
.wufoo li.focused label.desc, .wufoo li.focused div label {
    color: #26A6A7 !important;
}
li#fo6li10 {
    display: table-cell;
    padding-top: 20px !important;
    width: 35% !important;

}
li#fo6li12 {
    width: 35% !important;
    display: table-cell;
 padding-top: 20px !important;
}
li#fo6li13 {
    display: table-cell;
    width: 35% !important;
 padding-top: 20px !important;
}

input#Field13 {
width: 100% !important;
}
textarea {
 height:30px;
}
label#title109 {
    display: none;
}
select#Field109:focus {
    outline: 0px;
    border-bottom: 1px solid #26A6A7;
}

select#Field109 {
    color: #212121;
    border: 0px;
    border-bottom: 1px solid #9E9E9E;
}
input#Field121 {
    line-height: 20px;
}
.wufoo .info h2 {
    font-size: 160%;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    color: #B79E9E !important;
      font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}
.wufoo .info, .wufoo .paging-context {
    border-bottom: 2px dashed #B79E9E !important;
    width: 21%;
    line-height: 11px;
    margin: 0 auto;
}
