/* - - - - - - - - - - - - - - - - - - - - -

 Title :
 Author :
 URL : http://

 Last Updated :

- - - - - - - - - - - - - - - - - - - - - */
body {
  font-family: Quicksand, Open Sans, Segoe UI, sans-serif;
}
html {
    background-image: none;
    background-color: #ffffff;
}

form.wufoo {
    margin: 0px auto !important;
    padding: 12% !important;
    position: relative !important;
    background-color: #9169D8 !important;
}
.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file {
    font-family: inherit;
    border: 0px;
    background-color: transparent;
    color: #fff !important;
}

