/* - - - - - - - - - - - - - - - - - - - - -

 Title :
 Author :
 URL : http://

 Last Updated :

- - - - - - - - - - - - - - - - - - - - - */
body {
  font-family: Quicksand, Open Sans, Segoe UI, sans-serif;
}
html {
    background-image: none;
    background-color: #ffffff;
}

form.wufoo {
    margin: 0px auto !important;
    padding: 12% !important;
    position: relative !important;
    background-color: #9169D8 !important;
}
.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file {
    font-family: inherit;
    border: 0px;
    background-color: transparent !important;
    color: #fff !important;
    border-bottom: 1px solid #CDC8F0;
}
.wufoo input.text:focus, .wufoo textarea.textarea:focus, .wufoo input.file:focus {
   border: 0px;
   border-bottom: 1px solid #fff !important;
   outline: 0px !important;
    outline-color: transparent !important;
}

input.text, input.search, textarea.textarea {
   background: none !important;
}
.wufoo li.focused {
    background-color: transparent !important;
}

form li.focused {
    background-color: transparent !important;
}
.wufoo label.desc, .wufoo legend.desc {
    font-size: 95%;
    font-family: inherit;
    font-style: normal;
    font-weight: 100 !important;
    color: #cfeaff !important;
}
input::placeholder {
    color: #CDC8F0;
}
