/* - - - - - - - - - - - - - - - - - - - - -
 Title :
 Author :
 URL : http://
 Last Updated :
- - - - - - - - - - - - - - - - - - - - - */
@font-face {    
font-family: 'Proxima Nova Rg';   
 src: url('https://rawgit.com/nomimalik49/Wufoo-forms/master/ProximaNova-Regular.woff2') format('woff2'),   
     url('https://rawgit.com/nomimalik49/Wufoo-forms/master/ProximaNova-Regular.woff') format('woff');    
font-weight: normal;    
font-style: normal;
}


body {
      font-family: 'Proxima Nova Rg';
}
html {
    background-image: none;
    background-color: #F6F9FC;
}

form.wufoo {
    margin: 0px auto !important;
    padding: 12% !important;
    position: relative !important;
    background-color: #525F7F !important;
}
.wufoo li {
   margin-top: 15px !important;
}
.wufoo input.text, .wufoo textarea.textarea {
    color: #333 !important;
    border: 0px !important;
    -webkit-animation: 1ms void-animation-out;
    height: 40px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2) !important;
    text-indent: 10px;
    font-size: 14px;
    font-weight: 100;
    font-family: 'Proxima Nova Rg';
}
.wufoo textarea.textarea {
height:80px !important;

}
input::placeholder, textarea::placeholder {
  color: #fff !important;
 padding-top: 10px !important;
}
select {
     color: #fff;
    border: 0px !important;
    -webkit-animation: 1ms void-animation-out;
    height: 40px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    text-indent: 10px;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Proxima Nova Rg';
}
.wufoo input.text:focus, .wufoo textarea.textarea:focus, .wufoo input.file:focus {
   border: 0px;
   outline: 0px !important;
    outline-color: transparent !important;
    border-radius: 20px;
    color: #333 !important;
 background-color: #fff !important;
}

input.text, input.search, textarea.textarea {
   background: none !important;
}
.wufoo li.focused {
    background-color: transparent !important;
}

form li.focused {
    background-color: transparent !important;
}

.wufoo label.desc {
    font-size: 14px;
    text-transform: capitalize;
    color: #fff !important;
    font-family: 'Proxima Nova Rg';
}
.wufoo legend.desc{
 font-size: 14px;
    text-transform: capitalize;
 color: #333 !important;
    

}
div label, span.symbol {
 color: #fff !important;
}
.wufoo li.focused label.desc, .wufoo li.focused div label {
    color: #fff !important;
}
.wufoo input.btTxt {
   border-radius: 4px;
    height: 50px;
    line-height: 50px;
    outline: none !important;
    background-color: #e01b22;
    font-size: 18px;
    color: rgb(255, 255, 255);
 font-family: 'Proxima Nova Rg';
    padding: 0;
    text-transform: uppercase;
    border: 1px solid #e01b22;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
 width:100%;
}
.wufoo input.btTxt:hover {
 background-color: #ffffff !important;
    color: #e01b22 !important;
}
.wufoo li.focused label.desc, .wufoo li.focused div label {
    color: #d2d2d2 !important;
}
li#fo6li10 {
    display: table-cell;
    padding-top: 20px !important;
    width: 35% !important;

}
.wufoo .info {
  display:none !important;
}

div label {
    font-size: 14px !important;
    text-transform: capitalize;
    color: #333 !important;
    font-family: 'Proxima Nova Rg';
}
