/* - - - - - - - - - - - - - - - - - - - - -
 Title :
 Author :
 URL : http://
 Last Updated :
- - - - - - - - - - - - - - - - - - - - - */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
    font-family: 'Open Sans', sans-serif !important;
}
html {
    background-image: none !important;
    background-color: #F6F9FC;
}

form.wufoo {
    margin: 0px auto !important;
    padding: 12% !important;
    position: relative !important;
    background-color: #fff !important;
    background: url(https://cdn.rawgit.com/nomimalik49/Wufoo-forms/b0f23334/background.jpg) no-repeat center;
    background-size: cover;
}
.wufoo li {
   margin-top: 15px !important;
}
.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file {
    font-family: inherit;
    background-color: transparent !important;
    font-family: 'Lato', 'Helvetica Neue', Arial, 'Lucida Grande', Tahoma, Verdana, sans-serif;
     text-indent: 5px !important;
     font-size: 14px !important;
   color: #fff !important;
    height:35px;
    border-radius:20px !important;
    border:0px !important;
    background:rgba(255,255,255,.1) !important;
}
.wufoo input.text:focus, .wufoo textarea.textarea:focus, .wufoo input.file:focus {
   color: #fff !important;
   font-family: 'Open Sans', sans-serif !important;
}

input.text, input.search, textarea.textarea {
   background: none !important;
}
.wufoo li.focused {
    background-color: transparent !important;
}

form li.focused {
    background-color: transparent !important;
}
label {
 font-size: 14px !important;
}
.wufoo label.desc, .wufoo legend.desc {
    font-weight:600 !important;
    font-family: 'Open Sans', sans-serif !important;
    font-style: normal;
    color: #aaa !important;
    
}
input::placeholder {
   text-indent: 5px;
   color: #A4A4A4;
   font-size:13px !important;
}
.wufoo input.btTxt {
    width: 100%;
    height: 40px;
    background-color: #1161EE;
    border: 0px;
    color: #ffffff;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 200 !importnat;
}
.wufoo input.btTxt:hover {
   cursor: pointer !important;
}
.wufoo .info h2 {
    font-size: 160%;
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    color: #A1A2A5 !important;
}
