/* - - - - - - - - - - - - - - - - - - - - -
 Title :
 Author :
 URL : http://
 Last Updated :
- - - - - - - - - - - - - - - - - - - - - */
@import url('https://fonts.googleapis.com/css?family=Lato');
body {
   font-family: Lato,sans-serif;
}
html {
    background-image: none;
    background-color: #F6F9FC;
}

form.wufoo {
    margin: 0px auto !important;
    padding: 12% !important;
    position: relative !important;
    background-color: #fff !important;
}
.wufoo li {
   margin-top: 15px !important;
}
.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file {
    font-family: inherit;
    background-color: transparent !important;
    font-family: Lato,sans-serif;
     text-indent: 6px;
     font-size: 14px !important;
    height:35px;
    border-radius:20px !important;
    border:1px solid #EEEEEE !important;
    background-color: #F7F7F7 !important;
}
.wufoo input.text:focus, .wufoo textarea.textarea:focus, .wufoo input.file:focus {
   outline: 0px !important;
   outline-color: transparent !important;
}

input.text, input.search, textarea.textarea {
   background: none !important;
}
.wufoo li.focused {
    background-color: transparent !important;
}

form li.focused {
    background-color: transparent !important;
}
label {
 font-size: 15px !important;
 font-family: Lato,sans-serif;
}
.wufoo label.desc, .wufoo legend.desc {
    font-size: 95%;
    font-family: inherit;
    font-style: normal;
    font-weight: 100 !important;
    color: #666666 !important;
    font-family: Lato,sans-serif;
}
.wufoo input.btTxt {
    width: 100%;
    height: 40px;
    background-color: #24B47E;
    border: 0px;
    color: #fff;
    border-radius: 10px;
    font-family: Lato,sans-serif;
}
