/* - - - - - - - - - - - - - - - - - - - - -
 Title :
 Author :
 URL : http://
 Last Updated :
- - - - - - - - - - - - - - - - - - - - - */
@import url('https://fonts.googleapis.com/css?family=Quicksand');
body {
  font-family: Quicksand, Open Sans, Segoe UI, sans-serif;
}
html {
    background-image: none;
    background-color: #F6F9FC;
}

form.wufoo {
    margin: 0px auto !important;
    padding: 12% !important;
    position: relative !important;
    background-color: #6772E5 !important;
}
input.text, input.search, textarea.textarea {
   background: none !important;
 font-family: Quicksand, Open Sans, Segoe UI, sans-serif;
 text-indent:10px;
 border:0px !important;
 width: 220%;
 color: #fff;
 font-size:16px;
}
input::placeholder {
 color:#85BBFD;
}
.wufoo input.text:focus, .wufoo textarea.textarea:focus, .wufoo input.file:focus {
   border: 0px;
   outline: 0px !important;
    outline-color: transparent !important;
   color: #fff !important;
}
.wufoo li.focused {
    background-color: #7795F8 !important;
}

form li.focused {
    background-color: transparent !important;
}
label {
    font-family: Quicksand, Open Sans, Segoe UI, sans-serif;
    font-weight: 100 !important;
    font-size: 16px !important;
    color: #B5F0FF !important;
    width: 20% !important;
    margin-top: 6px !important;
}
.wufoo input.btTxt {
    width: 700%;
    height: 40px;
    background-color: #F6A4EB;
    border: 0px;
    color: #fff;
    border-radius: 5px;
    font-family: Quicksand, Open Sans, Segoe UI, sans-serif;
   transform: translate(-3px,-15px);
}
li {
    display: flex;
    border-bottom: 1px solid rgba(227, 227, 227, 0.7);
    padding:5px !important;
    
}
li:nth-child(3) {
  border-bottom: 0px !important;
}
li.buttons {
    border-bottom: 0px !important;
}
label#title15 {
    display: none;
}
li#fo7li15 {
    border-bottom: 0px !important;
    margin-top: 20px;
    background-color: #7795F8;
    border-radius: 5px;
}
li#fo7li17 {
        height: 19px;
    display: table-cell;
    border-bottom: 0px !important;
    width: 7% !important;
    float: right !important;
    transform: translate(-291%,-160%);
}
li#fo7li18 {
   height: 19px;
    display: table-cell;
    border-bottom: 0px !important;
    width: 5% !important;
    float: right !important;
    transform: translate(-110%,-260%);
}

li#fo7li7 {
    background-color: #7795F8;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
li#fo7li9 {
    background-color: #7795F8;
}
li#fo7li11 {
    background-color: #7795F8;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.wufoo input.text, .wufoo textarea.textarea, .wufoo input.file, .wufoo select.select {
    font-style: normal;
    font-weight: normal;
    color: #fff;
    font-size: 16px !important;
}
.wufoo li#fo7li17.focused {
    background-color: transparent !important;
}
.wufoo li#fo7li18.focused {
    background-color: transparent !important;
}
