/* - - - - - - - - - - - - - - - - - - - - -

 Title :
 Author :
 URL : http://

 Last Updated :

- - - - - - - - - - - - - - - - - - - - - */
html {
    background-image: none;
    background-color: #ffffff;
}

form.wufoo {
    margin: 0px auto !important;
    padding: 12% !important;
    position: relative !important;
    background-color: #6772e5 !important;
}
form li {
  padding: 0px !important;
  margin-bottom: 10px;
}
form li:nth-child(3) {
  margin-bottom: 0px !important;
  border-bottom: none;
}
label.desc, legend.desc {
    font-size: 15px !important;
    color: #222;
    line-height: 193%;
    margin: 0;
    padding: 0 0 3px 0;
    border: none;
    display: inline-flex;
    white-space: normal;
    width: 15% !important;
}
.wufoo label.desc, .wufoo legend.desc {
    font-family: inherit;
    color: #C4F0FE;
    font-weight: 100;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #A1E2FF;
  opacity: 0.5;
  font-size: 15px;
  text-indent: 10px;
  font-weight: 100 !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #A1E2FF;
  opacity: 0.5;
  font-size: 15px;
  text-indent: 10px;
  font-weight: 100 !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #A1E2FF;
  opacity: 0.5;
  font-size: 15px;
  text-indent: 10px;
  font-weight: 100 !important;
}
:-moz-placeholder { /* Firefox 15- */
  color: #A1E2FF;
  opacity: 0.8;
  font-size: 15px;
  text-indent: 10px;
  font-weight: 100 !important;
}
.wufoo li {
    width: 100%;
    display: inline-flex;
    border-bottom-style: solid;
    border-color: #C4F0FE;
   border-bottom-width: thin;
}
.wufooul1 {
      background-color: rgba(119, 149, 248, 0.9);
      border-radius: 5px;
      padding: 10px 0px 0px 10px !important;
}
input:focus {
  outline: none;
}
/* .wufoo li::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 1px;
  width: 100%;
  background-color: #fff;
} */
.wufoo input.text, .wufoo input.tel, .wufoo textarea.textarea {
    /* background: #FFFFFF url(/images/fieldbg.gif) repeat-x top; */
    padding: 2px 2px;
    color: #A1E2FF;
    background-color: transparent !important;
    border: 0px !important;
    -webkit-animation: 1ms void-animation-out;
    text-indent: 10px;
}
li#fo1li8 {
  border-bottom: 0px;
}
li.buttons {
  border-bottom: 0px;

}
input#saveForm {
  display: block;
width: 490px;
height: 40px;
background-color: #f6a4eb;
box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #ffb9f6;
border-radius: 4px;
color: #fff;
font-weight: 600;
cursor: pointer;
border: 0px !important;
}
input#Field10, input#Field9 {
    display: table-cell;
    width: 68px;
    position: relative;
    left: 105px;
}
