/* - - - - - - - - - - - - - - - - - - - - -

 Title :
 Author :
 URL : http://

 Last Updated :

- - - - - - - - - - - - - - - - - - - - - */
body {
  font-family: Quicksand, Open Sans, Segoe UI, sans-serif;
}
html {
    background-image: none;
    background-color: #ffffff;
}

form.wufoo {
    margin: 0px auto !important;
    padding: 12% !important;
    position: relative !important;
    background-color: #9169D8 !important;
}
 form li {
  padding: 0px !important;
  margin-bottom: 10px;
}
/* form li:nth-child(3) {
  margin-bottom: 0px !important;
  border-bottom: none;
}  */
label.desc, legend.desc {
    font-size: 14px !important;
    color: #CDC8F0;
    line-height: 100%;
    margin: 0;
    padding: 0 !important;
    border: none;
    display: inline-flex;
    white-space: normal;
    width: 35% !important;
    margin-left: 2px;
    font-family: Quicksand, Open Sans, Segoe UI, sans-serif !important;
}
.wufoo label.desc, .wufoo legend.desc {
    color: #CDC8F0;
    font-weight: 100;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #D4DCE3;
  opacity: 0.5;
  font-size: 15px;
  font-weight: 100 !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #D4DCE3;
  opacity: 0.5;
  font-size: 15px;
  font-weight: 100 !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #D4DCE3;
  opacity: 0.5;
  font-size: 15px;
  font-weight: 100 !important;
}
:-moz-placeholder { /* Firefox 15- */
  color: #D4DCE3;
  opacity: 0.5;
  font-size: 15px;
  font-weight: 100 !important;
}
form li div {
  width: 100%;
  display: inline-flex;
}
input.small, select.small {
    width: 31%;
}
.wufoo li {
    width: 100%;
}
.wufooul1 {
      border-radius: 5px;
      padding: 10px 10px !important;
}
.wufoo input.text:focus, .wufoo input.tel:focus, .wufoo textarea.textarea:focus {
  border-bottom: 1px solid #fff !important;
  outline: 0px;

}
/* .wufoo li::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 1px;
  width: 100%;
  background-color: #fff;
} */
.wufoo input.text, .wufoo input.tel, .wufoo textarea.textarea {
    /* background: #FFFFFF url(/images/fieldbg.gif) repeat-x top; */
    padding: 2px 2px;
    color: #fff;
    border-bottom: 1px solid #CDC8F0 !important;
    border: none;
    -webkit-animation: 1ms void-animation-out;
    background-color: transparent;
    font-family: Quicksand, Open Sans, Segoe UI, sans-serif;
    height: 25px;
}

li.buttons {
  border-bottom: 0px;
}
input#saveForm {
width: 480px;
height: 40px;
background-color: #fff;
box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #ffb9f6;
color: #525F7F;
border-radius: 10px;
font-weight: 600;
cursor: pointer;
border: 0px !important;
}
legend {
    color: #CDC8F0;
    position: relative;
    margin: 0px auto;
}
fieldset {
  border: 1px solid #CDC8F0 !important;
  border-radius: 5px;
}
li#fo1li22, li#fo1li24 {
    display: table-cell;
    width: 300px !important;
}
input#Field22, input#Field24 {
  width: 100% !important;
}
#fo1li23, #fo1li28 {
  margin-top: 10px;
}
li#fo1li25, li#fo1li26, li#fo1li27 {
    display: table-cell;
    width: 300px !important;
}
input#Field25, input#Field26, input#Field27 {
  width: 100% !important;
}
li#fo1li25, li#fo1li26, li#fo1li27 {
}
input#Field29, input#Field30 {
  border-bottom: 0px !important;
}
li#fo1li29 {
    position: absolute;
    left: 72%;
    right: 0;
    bottom: 25%;
    width: 35%;
}
form li.buttons input {
  margin-right: 0px !important;
}
