/* - - - - - - - - - - - - - - - - - - - - -
 Title :
 Author :
 URL : http://
 Last Updated :
- - - - - - - - - - - - - - - - - - - - - */
@import url('https://fonts.googleapis.com/css?family=Quicksand');
body {
  font-family: Quicksand, Open Sans, Segoe UI, sans-serif;
}
html {
    background-image: none;
    background-color: #F6F9FC;
}

form.wufoo {
    margin: 0px auto !important;
    padding: 12% !important;
    position: relative !important;
    background-color: #6772E5 !important;
}
input.text, input.search, textarea.textarea {
   background: none !important;
 font-family: Quicksand, Open Sans, Segoe UI, sans-serif;
 text-indent:10px;
 border:0px !important;
 width: 220%;
}
input::placeholder {
 color:#85BBFD;
}
.wufoo input.text:focus, .wufoo textarea.textarea:focus, .wufoo input.file:focus {
   border: 0px;
   outline: 0px !important;
    outline-color: transparent !important;
   color: #fff !important;
}
.wufoo li.focused {
    background-color: transparent !important;
}

form li.focused {
    background-color: transparent !important;
}
label {
    font-family: Quicksand, Open Sans, Segoe UI, sans-serif;
    font-weight:100 !important;
    font-size:14px !important;
    color: #B5F0FF !important;
    width: 20% !important;
}
.wufoo input.btTxt {
    width: 690%;
    height: 40px;
    background-color: #F6A4EB;
    border: 0px;
    color: #fff;
    border-radius: 10px;
    font-family: Quicksand, Open Sans, Segoe UI, sans-serif;
}
li {
    display: flex;
    border-bottom: 1px solid #F4F4F4;
    
}
li:nth-child(3) {
  border-bottom: 0px !important;
}
li.buttons {
    border-bottom: 0px !important;
}
label#title15 {
    display: none;
}
li#fo7li15 {
    border-bottom: 0px !important;
}
li#fo7li17 {
    display: table-cell;
    border-bottom: 0px !important;
    width: 20% !important;
    float:right !important;
}
li#fo7li18 {
    display: table-cell;
    border-bottom: 0px !important;
     width: 20% !important;
 float:right !important;
}

