/* - - - - - - - - - - - - - - - - - - - - -

 Title :
 Author :
 URL : http://

 Last Updated :

- - - - - - - - - - - - - - - - - - - - - */
@import url('https://fonts.googleapis.com/css?family=Quicksand');
body {
  font-family: Quicksand, Open Sans, Segoe UI, sans-serif;
}
html {
    background-image: none !important;
    background-color: #ffffff;
}

form.wufoo {
    margin: 0px auto !important;
    padding: 12% !important;
    position: relative !important;
    background-color: #9169D8 !important;
}
.wufoo input.text, .wufoo textarea.textarea{
    font-family: inherit;
    border: 0px;
    background-color: transparent !important;
    color: #fff !important;
    border-bottom: 1px solid #CDC8F0;
    font-size: 15px !important;
}
.wufoo input.text:focus, .wufoo textarea.textarea:focus, .wufoo input.file:focus {
   border: 0px;
   border-bottom: 1px solid #fff !important;
   outline: 0px !important;
    outline-color: transparent !important;
}

input.text, input.search, textarea.textarea {
   background: none !important;
}
.wufoo li.focused {
    background-color: transparent !important;
}

form li.focused {
    background-color: transparent !important;
}
.wufoo label.desc, .wufoo legend.desc {
    font-size: 95%;
    font-family: inherit;
    font-style: normal;
    font-weight: 100 !important;
    color: #cfeaff !important;
    font-size:15px !important;
}
input::placeholder {
    color: #CDC8F0;
}
li#fo3li4 {
    display: table-cell;
    width:58% !important; 
}
li#fo3li6 {
    display: table-cell;
    width:52% !important;
}
input#Field4 {
    width: 100%;
}
input#Field6 {
    width: 115%;
}
li#fo3li10, li#fo3li12 {
    display: table-cell;
}
li#fo3li13 {
    display: table-cell;
}
input#Field18 {
    width: 13%;
    float: right !important;
   transform: translate(-125%,-174%);
    border-bottom: transparent !important;
}
input#Field18:focus {
   border-bottom: 0px !important;
}
input#Field19 {
    width: 10%;
    float: right;
    transform: translatey(-350%);
    border-bottom: transparent !important;
}
input#Field19:focus {
   border-bottom: 0px !important;
}
.wufoo input.btTxt {
    width: 100%;
/*     transform: translateY(-200%); */
    height: 40px;
    background-color: #fff;
    border: 0px;
    color: #333;
    border-radius: 10px;
}
.wufoo input.btTxt:hover {
 background-color: #F4EEFE !important;
}
div label {
 color: #cfeaff !important;
}
.wufoo .info h2 {
   font-family: Quicksand, Open Sans, Segoe UI, sans-serif;
    font-style: normal;
    font-weight: bold !important;
    color: #cfeaff !important;
    font-size: 24px !important;
    
}
.wufoo .info, .wufoo .paging-context {
    border-bottom: 2px dashed #cfeaff !important;
    width: 21%;
    line-height: 11px;
    margin: 0 auto;
}
.wufoo .info {
    display: none;
}
.likert thead td, .likert thead th {
    background-color: transparent !important;
}
.likert table {
    background-color: transparent !important;
}
.likert caption, .likert thead td, .likert tbody th label {
    color: #cfeaff !important;
    font-family: inherit;
}
.likert tbody tr.alt td, .likert tbody tr.alt th {
    background-color: transparent !important;
}
.likert tbody tr:hover td, .likert tbody tr:hover th, .likert tbody tr:hover label {
    background-color: transparent !important;
}
.wufoo li div, .wufoo li span, .wufoo li div label, .wufoo li span label {
    font-family: inherit;
    color: #cfeaff !important;
}
.wufoo li div, .wufoo li span, .wufoo li div label, .wufoo li span label {
    font-family: inherit;
    color: #cfeaff !important;
}
