/* - - - - - - - - - - - - - - - - - - - - -
 Title :
 Author :
 URL : http://
 Last Updated :
- - - - - - - - - - - - - - - - - - - - - */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
body {
   font-family: 'Source Sans Pro', sans-serif;
}
html {
    background-image: none !important;
    background-color: #F6F9FC;
}

form.wufoo {
    margin: 0px auto !important;
    padding: 12% !important;
    position: relative !important;
    background-color: #fff !important;
}
.wufoo li {
   margin-top: 15px !important;
}
.wufoo input.text, .wufoo textarea.textarea {
    font-family: inherit;
    background-color: transparent !important;
    font-family: 'Source Sans Pro', sans-serif;
     text-indent: 20px !important;
     font-size: 16px !important;
    height:40px;
    border-radius:2px !important;
    border:1px solid #2170AF !important;
    background-color: #F3FAFD !important;
    font-weight:bolder !important;
}

.wufoo input.text:focus, .wufoo textarea.textarea:focus, .wufoo input.file:focus {
   outline: 0px !important;
   outline-color: transparent !important;
   border: 1px solid #4EB8DD !important;
   background-color: #F3FAFD !important;
   box-shadow: 0px 7px 9px 0px rgba(240,240,240,1);
}

.wufoo input.text:focus + input::placeholder{
 font-size:10px !important;
 color:#000 !important;
}
input.text, input.search, textarea.textarea {
   background: none !important;
}
.wufoo li.focused {
    background-color: transparent !important;
}

form li.focused {
    background-color: transparent !important;
}
label {
 font-size: 16px !important;
 font-family: Lato,sans-serif;
}
legend {
    font-size: 16px !important;
}
.wufoo label.desc, .wufoo legend.desc {
    font-weight:bolder !important;
    font-family: inherit;
    font-style: normal;
    color: #217093 !important;
    font-family: 'Source Sans Pro', sans-serif;
}

input::placeholder {
   text-indent: 20px;
   color: #7BABC1;
   font-size:16px !important;
   position: relative;
   font-weight:100 !important;
}
.wufoo input.btTxt {
    width: 100%;
    height: 45px !important;
    background-color: #4EB8DD;
    border: 0px;
    color: #ffffff;
    border-radius: 2px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:bolder !important;
}
.wufoo input.btTxt:hover {
   cursor: pointer !important;
   background-color: #217093 !important;
}
[placeholder]:focus::-webkit-input-placeholder {
   transform: translateY(-19.5px) !important;
   font-size:11px !important;
   color: #217093 !important;
}
/* changes */
div label {
    color: #217093 !important;
}
select {
    font-family: inherit;
    background-color: transparent !important;
    font-family: 'Source Sans Pro', sans-serif;
     text-indent: 20px !important;
     font-size: 16px !important;
    height:45px;
    border-radius:2px !important;
    border:1px solid #2170AF !important;
    background-color: #F3FAFD !important;
    font-weight:bolder !important;
}
.wufoo input.file {
    border: 0px !important;
    background-color: transparent !important;
}
